<config verbose="no">

	<parent-provides>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Pin_state"/>
		<service name="Pin_control"/>
		<service name="Timer"/>
		<service name="Gui"/>
		<service name="Platform"/>
	</parent-provides>

	<default caps="100"/>

	<service name="Capture"> <default-policy> <child name="nitpicker_camera"/> </default-policy> </service>

	<start name="nitpicker_camera" caps="150">
		<binary name="nitpicker"/>
			<resource name="RAM" quantum="4M"/>
		<provides>
			<service name="Gui"/> <service name="Capture"/>
		</provides>
		<config request_framebuffer="no">
			<report displays="yes"/>
			<capture/>
			<domain name="" layer="1" content="client" label="no" />
			<default-policy domain=""/>
		</config>
		<route>
			<service name="Report"> <child name="report_rom"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="report_rom">
		<binary name="report_rom"/>
		<resource name="RAM" quantum="2M"/>
		<provides> <service name="Report"/> <service name="ROM"/> </provides>
		<config verbose="no">
			<policy label="webcam_config -> displays" report="nitpicker_camera -> displays"/>
		</config>
		<route>
			<any-service> <parent /> </any-service>
		</route>
	</start>

	<start name="webcam_config">
		<binary name="rom_filter"/>
		<resource name="RAM" quantum="1M"/>
		<provides> <service name="ROM"/> </provides>
		<config verbose="no">
			<input name="capture_width" rom="displays" node="displays" default="">
				<node type="display">
					<attribute name="width"/>
				</node>
			</input>

			<output node="config">
				<if> <has_value input="capture_width" value=""/>
				<then> </then>
				<else>
					<inline>
						<parent-provides>
							<service name="ROM"/>
							<service name="PD"/>
							<service name="CPU"/>
							<service name="LOG"/>
							<service name="Platform"/>
							<service name="Timer"/>
							<service name="Capture"/>
							<service name="Pin_control"/>
							<service name="Pin_state"/>
							<service name="Gui"/>
						</parent-provides>
						<start name="camera" caps="250">
							<binary name="pinephone_camera_drv"/>
							<resource name="RAM" quantum="80M"/>
							<config width="640" height="480" fps="15" format="yuv" camera="front"/>
							<route>
								<service name="ROM" label="dtb"> <parent label="camera-pinephone.dtb"/> </service>
								<any-service> <parent/> </any-service>
							</route>
						</start>
					</inline>
				</else></if>
			</output>
		</config>
		<route>
			<service name="ROM" label="displays"> <child name="report_rom"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="webcam" caps="350">
		<binary name="init"/>
		<resource name="RAM" quantum="82M"/>
		<route>
			<service name="ROM" label="config">
				<child name="webcam_config" label="config"/>
			</service>
			<service name="Gui"> <child name="nitpicker_camera"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

</config>
