<config>
	<parent-provides>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Capture"/>
		<service name="Event"/>
	</parent-provides>

	<default caps="100" ram="1M"/>

	<start name="platform" caps="150" ram="2M" managing_system="yes">
		<binary name="a64_platform"/>
		<provides> <service name="Platform"/> <service name="Scp"/> </provides>
		<config>
			<policy label="a64_pio -> ">
				<device name="pio"/>
			</policy>

			<policy label="fb -> " info="yes">
				<device name="dphy"/>
				<device name="dsi"/>
				<device name="syscon"/>
				<device name="de2_bus"/>
				<device name="r_pwm"/>
				<device name="tcon0"/>
				<device name="tcon1"/>
			</policy>

			<policy label="goodix_touch -> " info="yes">
				<device name="i2c0"/>
			</policy>

		</config>
		<route> <any-service> <parent/> </any-service> </route>
	</start>

	<start name="a64_pio">
		<provides>
			<service name="Pin_state"/>
			<service name="Pin_control"/>
			<service name="IRQ"/>
		</provides>
		<route>
			<service name="ROM"> <parent/> </service>
			<service name="CPU"> <parent/> </service>
			<service name="PD">  <parent/> </service>
			<service name="LOG"> <parent/> </service>
			<service name="Platform"> <child name="platform"/> </service>
		</route>
		<config>
			<select name="touchscreen-i2c-sck"  bank="H" index="0" function="2"/>
			<select name="touchscreen-i2c-sda"  bank="H" index="1" function="2"/>
			<out    name="touchscreen-int"      bank="H" index="4"/>
			<in     name="touchscreen-int"      bank="H" index="4" irq="falling"/>
			<out    name="touchscreen-reset"    bank="H" index="11"/>

			<policy label="goodix_touch -> PH11" pin="touchscreen-reset"/>
			<policy label="goodix_touch -> PH4"  pin="touchscreen-int"/>

			<select name="lcd-pwm"   bank="L" index="10" function="2"/>
			<out    name="backlight" bank="H" index="10"/>
			<out    name="lcd-reset" bank="D" index="23"/>

			<policy label="fb -> PH10" pin="backlight"/>
			<policy label="fb -> PD23" pin="lcd-reset"/>
		</config>
	</start>

	<start name="fb" caps="250" ram="20M">
		<binary name="de_fb"/>
		<route>
			<service name="ROM" label="dtb"> <parent label="de-pinephone.dtb"/> </service>
			<service name="RM">          <parent/> </service>
			<service name="ROM">         <parent/> </service>
			<service name="PD">          <parent/> </service>
			<service name="CPU">         <parent/> </service>
			<service name="LOG">         <parent/> </service>
			<service name="Timer">       <parent/> </service>
			<service name="Capture">     <parent/> </service>
			<service name="Platform">    <child name="platform"/> </service>
			<service name="Pin_control"> <child name="a64_pio"/>  </service>
		</route>
	</start>

	<start name="goodix_touch" caps="250" ram="10M">
		<route>
			<service name="ROM" label="dtb"> <parent label="goodix-pinephone.dtb"/> </service>
			<service name="RM">          <parent/> </service>
			<service name="ROM">         <parent/> </service>
			<service name="PD">          <parent/> </service>
			<service name="CPU">         <parent/> </service>
			<service name="LOG">         <parent/> </service>
			<service name="Timer">       <parent/> </service>
			<service name="Platform">    <child name="platform"/> </service>
			<service name="Pin_control"> <child name="a64_pio"/>  </service>
			<service name="IRQ">
				<child name="a64_pio" label="goodix_touch -> PH4"/> </service>
			<service name="Event">
				<child name="event_filter" label="touch"/> </service>
		</route>
	</start>

	<start name="event_filter" caps="90" ram="1280K">
		<provides> <service name="Event"/> </provides>
		<route>
			<service name="ROM" label="config">
				<parent label="event_filter.config"/>
			</service>
			<service name="ROM">   <parent/> </service>
			<service name="PD">    <parent/> </service>
			<service name="CPU">   <parent/> </service>
			<service name="LOG">   <parent/> </service>
			<service name="Timer"> <parent/> </service>
			<service name="Event"> <parent/> </service>
		</route>
	</start>

</config>
