<config verbose="no">

	<parent-provides>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Pin_state"/>
		<service name="Pin_control"/>
		<service name="Timer"/>
		<service name="Gui"/>
		<service name="Platform"/>
	</parent-provides>

	<start name="dynamic_rom" caps="100">
		<resource name="RAM" quantum="4M"/>
		<provides> <service name="ROM"/> </provides>
		<config verbose="no">
			<rom name="config">
				<inline description="camera front present 640x480@15">
					<config>
						<parent-provides>
							<service name="ROM"/>
							<service name="PD"/>
							<service name="CPU"/>
							<service name="LOG"/>
							<service name="Platform"/>
							<service name="Timer"/>
							<service name="Capture"/>
							<service name="Pin_control"/>
							<service name="Pin_state"/>
							<service name="Gui"/>
						</parent-provides>
						<start name="camera_drv" caps="250">
							<binary name="pinephone_camera_drv"/>
							<resource name="RAM" quantum="80M"/>
							<config width="640" height="480" fps="15" format="yuv" camera="front"/>
							<route>
								<service name="ROM" label="dtb"> <parent label="camera.dtb"/> </service>
								<any-service> <parent/> </any-service>
							</route>
						</start>
					</config>
				</inline>
				<sleep milliseconds="10000"/>
				<inline description="camera back present 640x480@15">
					<config>
						<parent-provides>
							<service name="ROM"/>
							<service name="PD"/>
							<service name="CPU"/>
							<service name="LOG"/>
							<service name="Platform"/>
							<service name="Timer"/>
							<service name="Capture"/>
							<service name="Pin_control"/>
							<service name="Pin_state"/>
							<service name="Gui"/>
						</parent-provides>
						<start name="camera_drv" version="2" caps="250">
							<binary name="pinephone_camera_drv"/>
							<resource name="RAM" quantum="80M"/>
							<config width="640" height="480" fps="15" format="yuv" camera="rear"/>
							<route>
								<service name="ROM" label="dtb"> <parent label="camera.dtb"/> </service>
								<any-service> <parent/> </any-service>
							</route>
						</start>
					</config>
				</inline>
				<sleep milliseconds="10000"/>
			</rom>
		</config>
		<route>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="dynamic_init" caps="900">
		<binary name="init"/>
		<resource name="RAM" quantum="128M"/>
		<route>
			<service name="ROM" label="config"> <child name="dynamic_rom"/> </service>
			<service name="ROM" label_last="camera.dtb"> <parent label="camera-pinephone.dtb"/> </service>
			<service name="Platform"> <parent label="camera"/> </service>
			<service name="Pin_control" label_last="PC0">  <parent label="PC0"/>  </service>
			<service name="Pin_control" label_last="PD3">  <parent label="PD3"/>  </service>
			<service name="Pin_control" label_last="PE12"> <parent label="PE12"/> </service>
			<service name="Pin_control" label_last="PE13"> <parent label="PE13"/> </service>
			<service name="Pin_control" label_last="PE16"> <parent label="PE16"/> </service>
			<service name="Pin_control" label_last="PE17"> <parent label="PE17"/> </service>
			<service name="Pin_state"   label_last="PC0">  <parent label="PC0"/>  </service>
			<service name="Pin_state"   label_last="PD3">  <parent label="PD3"/>  </service>
			<service name="Pin_state"   label_last="PE12"> <parent label="PE12"/> </service>
			<service name="Pin_state"   label_last="PE13"> <parent label="PE13"/> </service>
			<service name="Pin_state"   label_last="PE16"> <parent label="PE16"/> </service>
			<service name="Pin_state"   label_last="PE17"> <parent label="PE17"/> </service>

			<service name="Timer"> <parent/> </service>
			<service name="Gui">   <parent label="camera"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

</config>
