<config verbose="true">
	<parent-provides>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Uplink"/>
	</parent-provides>

	<default caps="100"/>

	<start name="platform_drv" caps="100">
		<resource name="RAM" quantum="1M"/>
		<provides> <service name="Platform"/> </provides>
		<route> <any-service> <parent/> </any-service> </route>
		<config>
			<device name="syscon" type="allwinner,sun50i-a64-system-control">
				<io_mem address="0x1c00000" size="0x1000"/>
			</device>
			<device name="emac" type="allwinner,sun50i-a64-emac">
				<io_mem address="0x1c30000" size="0x10000"/>;
				<irq number="114"/>
			</device>
			<policy label="emac_nic_drv -> " info="yes">
				<device name="syscon"/>
				<device name="emac"/>
			</policy>
		</config>
	</start>

	<start name="emac_nic_drv" caps="800">
		<resource name="RAM" quantum="10M"/>
		<route>
			<service name="ROM" label="dtb">
				<parent label="emac-pine_a64lts.dtb"/> </service>
			<service name="ROM">    <parent/> </service>
			<service name="CPU">    <parent/> </service>
			<service name="PD">     <parent/> </service>
			<service name="LOG">    <parent/> </service>
			<service name="Timer">  <parent/> </service>
			<service name="Uplink"> <parent/> </service>
			<service name="Platform"> <child name="platform_drv"/> </service>
		</route>
		<config/>
	</start>

</config>
